<div class="jumbotron">
  <div class="hidden-xs wraparound">
    <% if product.start_time < Date.today and product.end_time > Date.today %>
      <div class="row">
        <div class="col-lg-3">
          <div class="center"> 
            Sale Ends In:
          </div>
        </div>
        <div class="col-lg-9">
          <div class="no-font-size">
            <div id="product_countdown_<%= product.id %>">
              <div class="row">
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="days" class="well well-sm"></span>  
                    <strong class="countdown-divide">:</strong>
                    <br>
                    days
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="hours" class="well well-sm"></span>    
                    <strong class="countdown-divide">:</strong>
                    <br>
                    hours
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="minutes" class="well well-sm"></span> 
                    <strong class="countdown-divide">:</strong>
                    <br>
                    minutes
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="seconds" class="well well-sm"></span> 
                    <br>
                    seconds
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% elsif product.start_time > Date.today %>
      <div class="center">
        Sale Begins On: <%= product.start_time.to_formatted_s(:long_ordinal) %>
      </div>
    <% else %>
      <div class="center">
        Sale Has Ended!
      </div>
    <% end %>
  </div>
  <div class="visible-xs wraparound-xs">
    <% if product.start_time < Date.today and product.end_time > Date.today %>
      <div class="row">
        <div class="col-lg-3">
          <div class="center"> 
            Sale Ends In:
          </div>
        </div>
        <div class="col-lg-9">
          <div class="no-font-size">
            <div id="product_countdown_xs_<%= product.id %>">
              <div class="row">
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="days" class="well well-sm"></span>  
                    <strong class="countdown-divide">:</strong>
                    <br>
                    days
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="hours" class="well well-sm"></span>    
                    <strong class="countdown-divide">:</strong>
                    <br>
                    hours
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="minutes" class="well well-sm"></span> 
                    <strong class="countdown-divide">:</strong>
                    <br>
                    minutes
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="seconds" class="well well-sm"></span> 
                    <br>
                    seconds
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% elsif product.start_time > Date.today %>
      <div class="center">
        Sale Begins On: <%= product.start_time.to_formatted_s(:long_ordinal) %>
      </div>
    <% else %>
      <div class="center">
        Sale Has Ended!
      </div>
    <% end %>
  </div>
  <div class="callout callout-info">
    <div class="row">
      <% if product.start_time < Date.today and product.end_time > Date.today %>
        <div class="col-lg-3">
          <div class="center"> 
            Sale Ends In:
          </div>
        </div>
        <div class="col-lg-9">
          <div class="no-font-size">
            <div id="product_countdown_<%= product.id %>">
              <div class="row">
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="days" class="well well-sm"></span>  
                    <strong class="countdown-divide">:</strong>
                    <br>
                    days
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="hours" class="well well-sm"></span>    
                    <strong class="countdown-divide">:</strong>
                    <br>
                    hours
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="minutes" class="well well-sm"></span> 
                    <strong class="countdown-divide">:</strong>
                    <br>
                    minutes
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="seconds" class="well well-sm"></span> 
                    <br>
                    seconds
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <% if product.start_time < Date.today and product.end_time > Date.today %>
      <div class="panel panel-primary">
        <div class="panel-heading center" style="padding:0">
          Sale Ends In:
        </div>
        <div class="panel-body" style="padding:0; padding-top:10px">
          <div class="no-font-size" style="margin-bottom:20px">
            <div id="product_countdown_<%= product.id %>">
              <div class="col-xs-3 center no-padding-left no-padding-right">
                <span class="countdown-section">
                  <span id="days" class="well well-sm"></span>  
                  <strong class="countdown-divide">:</strong>
                  <br>
                  days
                </span>
              </div>
              <div class="col-xs-3 center no-padding-left no-padding-right">
                <span class="countdown-section">
                  <span id="hours" class="well well-sm"></span>    
                  <strong class="countdown-divide">:</strong>
                  <br>
                  hours
                </span>
              </div>
              <div class="col-xs-3 center no-padding-left no-padding-right">
                <span class="countdown-section">
                  <span id="minutes" class="well well-sm"></span> 
                  <strong class="countdown-divide">:</strong>
                  <br>
                  minutes
                </span>
              </div>
              <div class="col-xs-3 center no-padding-left no-padding-right">
                <span class="countdown-section">
                  <span id="seconds" class="well well-sm"></span> 
                  <br>
                  seconds
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% elsif product.start_time > Date.today %>
      Sale Begins On:
      <div class="add-tab">
        <%= product.start_time.to_formatted_s(:long_ordinal) %>
      </div>
    <% else %>
      Sale Has Ended!
    <% end %>
  
  <div class="row">
    <div class="col-sm-5">
      <h2 class="no-font no-margin-top"><a href="/product/<%= product.id %>"><%= product.name %></a></h2>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-xs-4 control-label no-font-size">Price</label>
          <div class="col-xs-8">
            <p class="form-control-static">
            <i class="icon-usd"></i><%= number_with_precision(product.price, :precision => 2) %> <sup><em> +shipping</em></sup>
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="product_quantity" class="col-xs-4 control-label no-font-size">Quantity</label>
          <div class="col-xs-8">
            <select id="product_quantity_<%= product.id %>" class="form-control">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="product_console_<%= product.id %>" class="col-xs-4 control-label no-font-size">Console</label>
          <div class="col-xs-8">
            <select id="product_console" class="form-control">
              <% product.consoles.each do |console| %>
                <option value="<%= console.id %>">
                  <%= console.name %>
                </option>
              <% end %>
            </select>
          </div>
        </div>
      </form>
      <button type="button" class="btn btn-primary btn-lg square" style="margin-bottom:30px;width:100%" onclick="add_to_cart(<%= product.id %>)">
        <i class="icon-plus icon-large"></i> ADD TO CART
      </button>
    </div>
    <div class="col-sm-7">
      <ul class="nav nav-tabs nav-product" id="product-info">
        <li class="active">
        <a href="#product_images" data-toggle="pill">
          <i class="icon-camera-retro"></i>
        </a>
        </li>
        <li>
        <a href="#product_description" data-toggle="pill">
          <i class="icon-tag"></i>
        </a>
        </li>
        <li>
        <a href="#product_time" data-toggle="pill">
          <i class="icon-time"></i>
        </a>
        </li>
        <li>
        <a href="#product_reviews" data-toggle="pill">
          <i class="icon-pencil"></i>
        </a>
        </li>
      </ul>

      <div class="tab-content" style="height:250px;overflow:auto">
        <div class="tab-pane active" id="product_images">
          <div id="product-carousel" style="height:250px" class="carousel slide" data-interval="false">
            <ol class="carousel-indicators">
              <% if product.video_url.presence %>
                <li data-target="#product-carousel" data-slide-to="0" class="active"></li>
                <% product.pictures.each_with_index do |picture, index| %>
                    <li data-target="#product-carousel" data-slide-to="<%= index + 1 %>"></li>
                <% end %>
              <% else %>
                <% product.pictures.each_with_index do |picture, index| %>
                    <li data-target="#product-carousel" data-slide-to="<%= index %>" <%= index == 0 ? "class='active'" : "" %>></li>
                <% end %>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <% if product.video_url.presence %>
                <div class="item active">
                  <iframe width="468" height="250" src="<%= product.video_url %>" frameborder="0" allowfullscreen>
                  </iframe>
                </div>
              <% end %>
              <% product.pictures.each do |picture| %>
                <div class="item">
                    <%= image_tag picture.picture(:medium), :width => 468 %>
                </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#product-carousel" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#product-carousel" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
        </div>
        <div class="tab-pane" id="product_description" style="font-size:16px;margin-top:10px">
          <p><%= product.description %></p>
        </div>
        <div class="tab-pane" id="product_time" style="font-size:16px;margin-top:10px">
          Ship Date: 
          <div class="add-tab">
            <%= product.ship_date.to_formatted_s(:long_ordinal) %>
          </div>
        </div>
        <div class="tab-pane" id="product_reviews" style="font-size:16px;margin-top:10px">
          <p>No reviews! Be the first to write a review!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
    var productEndDate = new Date("<%= product.end_time.to_formatted_s(:long) %>");
    $('#product_countdown_<%= product.id %>').countdown(productEndDate.valueOf(), function(event) {
      $this = $(this);
      switch(event.type) {
      case "seconds":
      case "minutes":
      case "hours":
      case "days":
      $this.find('span#'+event.type).html(event.value);
      break;
      case "finished":
      $this.fadeTo('slow', .5);
      break;
      }
      });
    $('#product_countdown_xs_<%= product.id %>').countdown(productEndDate.valueOf(), function(event) {
      $this = $(this);
      switch(event.type) {
      case "seconds":
      case "minutes":
      case "hours":
      case "days":
      $this.find('span#'+event.type).html(event.value);
      break;
      case "finished":
      $this.fadeTo('slow', .5);
      break;
      }
      });
    });
</script>
