<div class="jumbotron">
    <div class="hidden-xs wraparound upcoming">
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
          <h3 class="center">
            Sale Starts In:
          </h3>
        </div>
        <div class="col-lg-6 col-lg-offset-1">
          <div class="no-font-size">
            <div id="product_countdown_<%= product.id %>">
              <div class="row">
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="days" class="big-ass-font"></span>
                    <strong class="countdown-divide">:</strong>
                    <br>
                    days
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="hours" class="big-ass-font"></span>
                    <strong class="countdown-divide">:</strong>
                    <br>
                    hours
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="minutes" class="big-ass-font"></span>
                    <strong class="countdown-divide">:</strong>
                    <br>
                    minutes
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="seconds" class="big-ass-font"></span>
                    <br>
                    seconds
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="visible-xs wraparound-xs upcoming">
      <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
          <div class="center">
            Sale Starts In:
          </div>
        </div>
        <div class="col-lg-6 col-lg-offset-1">
          <div class="no-font-size">
            <div id="product_countdown_<%= product.id %>">
              <div class="row">
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="days" class="big-ass-font"></span>
                    <strong class="countdown-divide">:</strong>
                    <br>
                    days
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="hours" class="big-ass-font"></span>
                    <strong class="countdown-divide">:</strong>
                    <br>
                    hours
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="minutes" class="big-ass-font"></span>
                    <strong class="countdown-divide">:</strong>
                    <br>
                    minutes
                  </span>
                </div>
                <div class="col-xs-3 center no-padding-left no-padding-right">
                  <span class="countdown-section">
                    <span id="seconds" class="big-ass-font"></span>
                    <br>
                    seconds
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-5">
        <h2 class="no-font no-margin-top"><a href="/product/<%= product.id %>"><%= product.name %></a></h2>
        <div class="callout callout-info">
          <ul id="console_list">
            <% product.consoles.each do |console| %>
                <li><img src='http://<%= Rails.application.config.s3_bucket %>.s3.amazonaws.com<%= console.icon_url %>' width="40px"> <%= console.name %></li>
            <% end %>
          </ul>
        </div>
    </div>
    <div class="col-sm-7">
      <ul class="nav nav-tabs nav-product" id="product-<%= product.id %>-info">
        <li class="active no-remove">
        <a href="#product_<%= product.id %>_images" data-toggle="pill">
          <i class="icon-camera-retro"></i>
        </a>
        </li>
        <li class="no-remove">
        <a href="#product_<%= product.id %>_description" data-toggle="pill">
          <i class="icon-tag"></i>
        </a>
        </li>
        <li>
        <a href="#product_<%= product.id %>_time" data-toggle="pill">
          <i class="icon-time"></i>
        </a>
        </li>
      </ul>

      <div class="tab-content" style="height:250px">
        <div class="tab-pane active no-remove" id="product_<%= product.id %>_images">
          <div id="product-<%= product.id %>-carousel" style="height:250px" class="carousel slide" data-interval="false">
            <ol class="carousel-indicators">
              <% if product.video_url.presence %>
                <li data-target="#product-<%= product.id %>-carousel" data-slide-to="0" class="active no-remove carousel-dot"></li>
                <% product.pictures.each_with_index do |picture, index| %>
                  <li data-target="#product-<%= product.id %>-carousel" data-slide-to="<%= index + 1 %>" class="no-remove carousel-dot"></li>
                <% end %>
              <% else %>
                <% product.pictures.each_with_index do |picture, index| %>
                  <li data-target="#product-<%= product.id %>-carousel" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %> no-remove carousel-dot"></li>
                <% end %>
              <% end %>
            </ol>
            <div class="carousel-inner" style="height:250px">
              <% if product.video_url.presence %>
                <div class="item active no-remove">
                  <iframe width="468" height="250" src="<%= product.video_url %>" frameborder="0" allowfullscreen="true">
                  </iframe>
                </div>
                <% product.pictures.each do |picture| %>
                  <div class="item no-remove">
                    <%= image_tag picture.picture(:medium), :class => "image_slide" %>
                  </div>
                <% end %>
              <% else %>
                <% product.pictures.each_with_index do |picture, index| %>
                    <div class="<%= index == 0 ? 'item active no-remove' : 'item no-remove' %>">
                    <%= image_tag picture.picture(:medium), :class => "image_slide" %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <a class="carousel-left carousel-control" href="#product-<%= product.id %>-carousel" data-slide="prev">
              <span class="icon-chevron-sign-left"></span>
            </a>
            <a class="carousel-right carousel-control" href="#product-<%= product.id %>-carousel" data-slide="next">
              <span class="icon-chevron-sign-right"></span>
            </a>
          </div>
        </div>
        <div class="tab-pane no-remove" id="product_<%= product.id %>_description" style="font-size:16px;margin-top:10px">
          <p><%= product.description %></p>
        </div>
        <div class="tab-pane no-remove" id="product_<%= product.id %>_time" style="font-size:16px;margin-top:10px">
          Release Date:
          <div class="add-tab">
            <%= product.release_date.to_formatted_s(:long_ordinal) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function() {
    $('#add_to_cart_form_<%= product.id %>').submit(function(event) {
      return false;
    });
    var productEndDate = new Date("<%= product.start_time.to_formatted_s(:long) %>");
    $('#product_countdown_<%= product.id %>').countdown(productEndDate.valueOf(), function(event) {
      $this = $(this);
      switch(event.type) {
      case "seconds":
      case "minutes":
      case "hours":
      case "days":
      $this.find('span#'+event.type).html(event.value);
      break;
      case "finished":
      $this.fadeTo('slow', .5);
      break;
      }
      });
    $('#product_countdown_xs_<%= product.id %>').countdown(productEndDate.valueOf(), function(event) {
      $this = $(this);
      switch(event.type) {
      case "seconds":
      case "minutes":
      case "hours":
      case "days":
      $this.find('span#'+event.type).html(event.value);
      break;
      case "finished":
      $this.fadeTo('slow', .5);
      break;
      }
      });
    });
</script>
