<% if @orders.present? %>
  <h3 class="no-margin-top">Orders</h3>
  <% @orders.each_with_index do |(order_id, products), index| %>
    <h4 class="divide" style="margin-top:30px"><%= Time.at(Order.find(order_id).created_ts).to_datetime.to_s(:cenzo_no_time) %></h4>
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Console</th>
          <th>Current Discount</th>
          <th>Discount Progress</th>
        </tr>
      </thead>
      <tbody>
        <% products.each do |product, id| %>
          <% OrderProduct.where(order_id: order_id, product_id: product.id).each do |op| %>
            <tr>
              <td><%= product.name %></td>
              <% if op.present? %>
                <% exp = op.experience_level %>
                <% tier_number = exp[0] %>
                <% discount = op.product.discount_tiers.where(:tier_number => tier_number).first.discount %>
                <td><%= Console.find(op.console_id).name %></td>
                <td>$<%= discount %></td>
                <td>
                  <% (1..tier_number).each do |i| %>
                    <div class="row">
                      <div class="col-lg-8 col-sm-6" style="padding-right:0">
                        <div class="progress">
                          <span>Tier <%= i %> Unlocked</span>
                          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                        <i class="icon-unlock-alt icon-large"></i>
                        <% (1..i).each do |j| %>
                          <i class="icon-usd"></i>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                  <% (tier_number..3).each do |i| %>
                    <div class="row">
                      <div class="col-lg-8 col-sm-6" style="padding-right:0">
                        <div class="progress">
                          <span style="color:black"><%= "#{exp[1].to_i}% Complete" %></span>
                          <div class="progress-bar" role="progressbar" aria-valuenow="<%= exp[1] %>" aria-valuemin="0" aria-valuemax="100" style="<%= "width: #{exp[1]}%" %>;">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                        <i class="icon-lock icon-large"></i>
                        <% (1..i+1).each do |j| %>
                          <i class="icon-usd" style="color:#ccc"></i>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </td>
              <% else %>
                <td></td>
                <td></td>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <h3>
    Once you order something, come back here to track your discounts!
  </h3>
<% end %>
