<!DOCTYPE html>
<html>
  <head>
    <title>Adelie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% # stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :media => "all" %>
    <% # stylesheet_link_tag "//netdna.bootstrapcdn.com/bootswatch/3.0.0/amelia/bootstrap.min.css", :media => "all" %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", :media => "all" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" id="nav-bar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Adelie</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li id="products-tab"><a href="/products">Products</a></li>
          <li id="how-it-works-tab"><a href="/how-it-works">How It Works</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/account">My Account</a></li>
              <li class="divider"></li>
              <li>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete %> 
              </li>
            </ul>
            </li>
          <% else %>
            <li>
            <a href="/users/sign_up">Create Account</a>
            </li>
            <li class="vertical-divider navbar-text hidden-xs">|</li>
            <li>
            <a href="/users/sign_in">Sign In</a>
            </li>
          <% end %>
          <li class="vertical-divider navbar-text hidden-xs">|</li>
          <li>
          <a href="/cart"><i class="icon-shopping-cart icon-large"></i>
            <% if user_signed_in? %>
              &nbsp;<span class="badge" id="cart-value"><%= current_user.cart_length %></span>
            <% else %>
              &nbsp;<span class="badge" id="cart-value">
              <% if session[:cart] %>
                <% count = 0 %>
                <% session[:cart].each do |item| %>
                  <% count += item[:quantity] %>
                <% end %>
                <%= count %>
              <% else %>
                0
              <% end %>
              </span>
            <% end %>
          </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
    </nav>

    <div class="container">
      <% if notice %>
        <div class="alert alert-dismissable alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-dismissable alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= alert %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 content" id="main-content">
          <%= yield %>
        </div>
      </div>

    </div>

  </body>

</html>
